//
.disflex{
  display: flex;
}
.flexdircol{
  flex-direction: column;
}
.justspace{
  justify-content: space-around;
}
.justfycenter{
  justify-content: center;
}
.alginitem{
  align-items: center;
}
//

//
.pos-relative{
  position: relative;
}
//

//
.p-20{
  padding: 20px;
}
.p-10{
  padding: 10px;
}
.m-20{
  margin: 20px;
}
//

//
.bg-white{
  background-color: white;
}
.bg-gray{
  background-color: #F1F5F9;
}
.c-black{
  color: black;
}
//

//
.rad-6{
  border-radius: 6px;
}
//

//
.align-center{
  text-align: center;
}
.fs14{
  font-size: 14px;
}
//

//
.w-full{
  width: 100%;
}
//


.bg-color-yellow{
  background-color:rgb(245 158 11 / 20%);
}